<h1>Contact page</h1>
<p>Find me where you lean that One of the hardest things to face is being hungry and patient</p>


<p><%= number_to_phone "06824051997" %></p>

<p><%= number_to_currency "150120" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "25488054825824815654" %></p>


<%= @news.inspect %>
