<h1>Contact page</h1>
<p>Find me in app/views/pages/contact.html.erb</p>

<p><%= number_to_phone "06824051997" %></p>

<p><%= number_to_currency "150120" %></p>

<p><%= number_to_percentage "80.4" %></p>

<p><%= number_with_delimiter "25488054825824815654" %></p>


<%= @news.inspect %>
